<div class="cm-footer py-3">
    <div class="container-fluid header-cu-level-1">
        <div class="container">
            <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                <div class="col-12 col-lg-6 col-lg-6">
                    <div class="txt-footer-title">
                        สำนักงานประกันสังคม สำนักงานใหญ่ 
                    </div>
                    <div class="text-footer">
                        เลขที่ 88/28 หมู่ 4 ถนนติวานนท์ ตำบลตลาดขวัญ อำเภอเมือง <br>
                        จังหวัดนนทบุรี รหัสไปรษณีย์ 11000 <br>
                        E-mail : info@sso1506.com 
                    </div>
                    <p class="viewer"> จำนวนผู้ชม : 7996931 </p>
                </div>
                <div class="col-12 col-lg-6 col-right">
                    <div class="container-fluid mt-md-3 mt-lg-0">
                        <div class="row">
                            <div class="col-12 mt-2 mt-md-0 mb-2 d-none d-lg-block">
                                <a href="#" class="tel-1506-footer">
                                    <img src="https://eselfservice-web.demotoday.net/assets/img/footer/icon_tel_footer.svg" class="float-left mr-2">
                                    <span class="float-right" style="margin-top: 3px; float: right;"> 1506 
                                        <span class="d-block small">กระทรวงแรงงาน</span>
                                    </span>  
                                </a>
                            </div>
                            <div class="col-sm-12">
                                ช่องทางการติดต่อ : 
                                <a href="#" style="margin: 0 6px;">
                                    <img src="https://eselfservice-web.demotoday.net/assets/img/footer/icon_facebook.png">
                                </a>
                                <a href="#" style="margin: 0 6px;">
                                    <img src="https://eselfservice-web.demotoday.net/assets/img/footer/icon_youtube.png">
                                </a>
                                <a href="#" style="margin: 0 6px;">
                                    <img src="https://eselfservice-web.demotoday.net/assets/img/footer/icon_chat.png">
                                </a>
                                <a href="#" style="margin: 0 6px;">
                                    <img src="https://eselfservice-web.demotoday.net/assets/img/footer/icon_mail.png">
                                </a>
                            </div>
                            <div class="col-sm-12">
                                <p style="font-size: 15px !important;margin-bottom: 2px;">หากมีข้อสงสัยในการเข้าสู่ระบบ ติดต่อที่ e-mail: 
                                    <a href="#" class="font-color-s">info@sso1506.com</a>
                                </p>
                            </div>
                            <div class="col-sm-12 menu-footer" style="font-size: 15px;">
                                <div style="float: left;" class="footer-list">
                                    <a href="#" class="font-color-s grap-s">นโยบายเว็บไซต์</a>
                                </div>
                                <div style="float: left;" class="footer-list">
                                    <a href="#" class="font-color-s grap-s">นโยบายความเป็นส่วนตัว</a>
                                </div>
                                <div style="float: left;" class="footer-list">
                                    <a href="#" class="font-color-s grap-s">นโยบายความปลอดภัย</a>
                                </div>
                                <div style="float: left;" class="footer-list">
                                    <a href="#" class="font-color-s grap-s">ข้อจำกัด</a>
                                </div>
                                <div style="float: left;" class="footer-list">
                                    <a href="#" class="font-color-s grap-s">ความรับผิดชอบ</a>
                                </div>
                                <div style="float: left;" class="footer-list">
                                    <a href="#" class="font-color-s grap-s">แผนผังเว็บไซต์</a>
                                </div>
                                <div style="float: left;" class="footer-list">
                                    <a href="#" class="font-color-s grap-s">ติดต่อเรา</a>
                                </div>
                                <div style="float: left;" class="footer-list">
                                    <a href="#" class="font-color-s grap-s">ช่วยเหลือ</a>
                                </div>
                                <div style="float: left;"  class="footer-list">
                                    <a href="#" class="font-color-s grap-s">คุกกี้</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer-lv2">
    <div class="row">
        <div class="col-sm-12 px-0 text-center">
            <p class="mb-0">Copyright© 2021 Social Security Office. All right reserved. </p>
        </div>
    </div>
</div>