<div class="container-fluid header-cu-level-1">
  <div class="container">
      
    <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
      <div class="col-12 col-lg-4 justify-content-start">
        <div class="nav-e-self-service">e-Self <span>Service</span></div>
      </div>
      <div class="col-12 col-lg-8 d-flex justify-content-end">

        <!-- <p>ขนาดตัวอักษร</p>
        <p>-</p>
        <p>+</p>
        <p>|</p>

        <p>การแสดงผล</p> -->

        <div style="margin: 13px 9px;display: inherit;">
            <p>ขนาดตัวอักษร</p>
            <p style="margin: 0 5px 0 5px;">-</p>
            <p>+</p>
            <p style="margin: 0 5px 0 5px;">|</p>

            <p>การแสดงผล</p>
        </div>

        <div style="margin: 13px 9px;">
            <button class="display_1">c</button>
            <button class="display_2">c</button>
            <button class="display_3">c</button>
            |
        </div>
        
        <div style="margin:3px 30px 0 0">
            <img src="./assets/img/header/icon_1506.png">
        </div>
        
      </div>
    </div>

  </div>

</div>

<div class="container" style="margin-bottom:42px;">
    <div class="row header-level2 py-0 p-lg-2">
        <div class="container-md d-block align-center">
            <div class="background row">
                <div class="col-5 col-lg-8">
                    <div class="navbar-brand d-block logo">
                        <img src="./assets/img/logo/sso.png">
                    </div>
                </div>
                <div class="col-7 col-lg-4 bg-right">
                    <div class="text-right">
                        <!-- เข้าสู่ระบบ / สมัครสมาชิก -->
                        {{userFullName}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container">
    <ul class="breadcrumb">
        <li class="breadcrumb__item breadcrumb__item-firstChild">
        <span class="breadcrumb__inner">
        <span class="breadcrumb__title">พื้นที่จัดเก็บ</span>
        </span>
        </li>
        <li class="breadcrumb__item">
        <span class="breadcrumb__inner">
        <span class="breadcrumb__title">ตู้เอกสาร</span>
        </span>
        </li>
        <li class="breadcrumb__item">
        <span class="breadcrumb__inner">
        <span class="breadcrumb__title">ลิ้นชัก</span>
        </span>
        </li>
        <li class="breadcrumb__item breadcrumb__item-lastChild">
        <span class="breadcrumb__inner">
        <span class="breadcrumb__title">แฟ้มหลัก</span>
        </span>
        </li>
        <li class="breadcrumb__item breadcrumb__item-lastChild">
        <span class="breadcrumb__inner">
        <span class="breadcrumb__title">แฟ้มย่อย</span>
        </span>
        </li>
    </ul>
</div> -->